<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BS5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <!-- BS5 -->
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Axios -->

    <!-- Vue -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- Vue -->


    <title>第五周作業</title>
</head>

<body>

    <div class="container mt-4 " id="app">
        <!-- 產品列表 -->
        <h3 class="mt-5 mb-3 text-center">商品列表</h3>
        <div class="vl-parent">
            <template v-if="isLoading">
                <div>
                    <loading v-model:active="isLoading.productList" :is-full-page="false" />
                </div>
            </template>
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th>圖片</th>
                        <th>商品名稱</th>
                        <th>價格</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="product in productList" :key="product.key">
                        <td style="width:200px;">
                            <img :src="product.imageUrl" :alt=`${product.title}圖片`
                                style="height: 100px;object-fit: cover;" class="w-100">
                        </td>
                        <td>{{product.title}}</td>
                        <td>
                            <div class="h5" v-if="product.origin_price === product.price">
                                {{product.price}}元
                            </div>
                            <div v-else>
                                <del class="h6">原價{{product.origin_price}}元</del>
                                <div class="h5">現在只要{{product.price}}元</div>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary me-2"
                                @click="openModal(product.id)">查看更多</button>
                            <button type="button" class="btn btn-outline-danger" @click="addToCart(product.id)"
                                :disabled="loadingItem === product.id">加入購物車</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- 產品Modal -->
        <product-Modal :product-Id="productId" :add-To-Cart="addToCart" :open-Modal="openModal"
            ref="productModal"></product-Modal>
        <!-- 購物車列表 -->
        <h3 class="mt-5 mb-3 text-center">購物車</h3>
        <div class="vl-parent">
            <template v-if="isLoading">
                <div>
                    <loading v-model:active="isLoading.cart" :is-full-page="false" />
                </div>
            </template>
            <table class="table mt-5 align-middle">
                <thead>
                    <tr>
                        <th></th>
                        <th>產品名稱</th>
                        <th>數量/單位</th>
                        <th class="text-end">單價</th>
                        <th class="text-end">總價</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-if="cart.carts?.length">
                        <tr v-for="item in cart.carts" :key="item.id">
                            <td>
                                <button type="button" class="btn btn-outline-danger btn-sm"
                                    @click="deleteCartItem(item.id)" :disabled="loadingItem === item.id">X</button>
                            </td>
                            <td>{{item.product.title}}</td>
                            <td>
                                <select name="" id="" class="form-select" v-model="item.qty"
                                    @change="updateItemNum(item)" :disabled="loadingItem === item.id">
                                    <option :value="i" v-for="i in 15" :key="i+'123'">{{i}}</option>
                                </select>
                            </td>
                            <td class="text-end">{{item.product.price}}</td>
                            <td class="text-end">{{item.final_total}}</td>
                        </tr>
                    </template>
                    <template v-else>
                        <tr>
                            <td colspan="5" class="text-center">目前購物車中沒有東西喔</td>
                        </tr>
                    </template>

                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-end"><button type="button" class="btn btn-outline-danger"
                                @click="deleteCartAll()">清空全部</button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-end">總金額</td>
                        <td class="text-end">{{cart.total}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-end">付款金額</td>
                        <td class="text-end">{{cart.final_total}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <!-- 訂單資訊 -->
        <h3 class="mt-5 mb-3 text-center">訂單資訊</h3>
        <div class="row justify-content-center">
            <div class="col-4">
                <v-form v-slot="{ errors }" @submit="sentOrder" class="my-5 " ref="userForm">
                    <div class="mb-3">
                        <label for="name" class="h5">姓名:</label>
                        <v-field id="name" name="姓名" type="text" class="form-control"
                            :class="{ 'is-invalid': errors['姓名'] }" placeholder="請輸入 姓名" rules="required"
                            v-model="user.name"></v-field>
                        <error-message name="姓名" class="invalid-feedback"></error-message>
                    </div>
                    <div class="mb-3">
                        <label for="tel" class="h5">電話:</label>
                        <v-field id="tel" name="電話" type="text" class="form-control"
                            :class="{ 'is-invalid': errors['電話'] }" placeholder="請輸入 電話" :rules="isPhone"
                            v-model="user.tel"></v-field>
                        <error-message name="電話" class="invalid-feedback"></error-message>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="h5">電子郵件:</label>
                        <v-field id="email" name="電子郵件" type="email" class="form-control"
                            :class="{ 'is-invalid': errors['電子郵件'] }" placeholder="請輸入 電子郵件" rules="required||email"
                            v-model="user.email"></v-field>
                        <error-message name="電子郵件" class="invalid-feedback"></error-message>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="h5">地址:</label>
                        <v-field id="address" name="地址" type="text" class="form-control"
                            :class="{ 'is-invalid': errors['地址'] }" placeholder="請輸入 地址" rules="required"
                            v-model="user.address"></v-field>
                        <error-message name="地址" class="invalid-feedback"></error-message>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="h5">附註:</label>
                        <v-field id="message" name="附註" type="text" class="form-control"
                            :class="{ 'is-invalid': errors['附註'] }" placeholder="請輸入 附註" v-model="user.message"
                            as="textarea" cols="10" rows="10"></v-field>
                        <error-message name="地址" class="invalid-feedback"></error-message>
                    </div>
                    <div class="text-center">
                        <!-- 購物車沒東西時不給按送出 -->
                        <button type="submit" class="btn btn-primary w-100" :disabled="!cart.carts?.length">送出</button>
                    </div>
                </v-form>
            </div>
        </div>
    </div>
    <!-- vee -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/4.5.8/vee-validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@vee-validate/rules@4.5.8/dist/vee-validate-rules.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@vee-validate/i18n@4.5.8/dist/vee-validate-i18n.min.js"></script>
    <!-- vee -->
    <!-- Vue-loading -->
    <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@6.0.2/dist/index.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@6.0.2/dist/css/index.min.css">
    <!-- Vue-loading -->
    <script src="./cart.js" type="module"></script>
</body>

</html>